.card_border {
    padding: 20px;
}
.state_politicial_bg_color {
    background-color: orange;
}

.central_politicial_bg_color {
    background-color: grey;
}

.international_politicial_bg_color {
    background-color: green;
}