<!-- <p>user-card works!</p> -->

<div *ngFor = "let user of customer_details" class="card_border">
    <div *ngIf = "user.user_age > 55">
        <img [src]="user.user_profile" alt="">
    <p>Name: {{user.userName}}</p>
    <p>Age: {{user.user_age}}</p>
    <p>Comments:{{comments}}</p>
    <button (click)="onUserProfileEdit()">Edit Detailss</button>
    <button (click)="onUserProfileDeleted()">Delete Detailss</button>
    <div>
        Update your comment from here:
        <input type="text" [(ngModel)]="comments">
    </div>
    </div>
</div>