mat-slider {
  width: 100%;
}

.track-wrapper {
  position: relative;
}

.single-line-labels {
  position: relative;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.moving-value {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: left 0.05s linear;
  font-weight: 700;
  color: #000;
  background: #e6ffe6;
}

/* ✅ Highlight when NOT selected */
.active {
  // background: #e6ffe6;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 700;
}
