<div class="scroller-root">
  <div #scrollWrap
       class="scroller-scroll"
       [class.hide-scrollbar]="hideScrollbar"
       tabindex="0"
       aria-label="horizontal scroller">

    <div #trackWrap
         class="scroller-track"
         [style.width.px]="trackWidth"
         (pointerdown)="onPointerDown($event)"
         (pointermove)="onPointerMove($event)"
         (pointerup)="onPointerUp($event)"
         (click)="onTrackClick($event)">

      <div class="scroller-track-line"></div>
      <div class="scroller-track-progress"
           [style.width.px]="(selectedIndex * itemWidth) + (itemWidth / 2)"></div>

      <div class="scroller-items">
        <div *ngFor="let it of items; let i = index"
             class="scroller-item"
             [class.scroller-item--active]="i === selectedIndex"
             [style.left.px]="i * itemWidth"
             [style.width.px]="itemWidth">
          <div class="scroller-item__label">{{ labelFor(it) }}</div>
        </div>
      </div>

      <div class="scroller-thumb" [style.left.px]="selectedIndex * itemWidth + (itemWidth / 2)"></div>
    </div>
  </div>
</div>
